doctype html
html
  head
    meta(charset="utf8")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Rubik")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">



    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans")
  body
    .wrapper
      include ../partials/header.pug
      include ../partials/slider.pug
      include ../partials/author.pug
      include ../partials/about.pug
      include ../partials/portfolio.pug
      include ../partials/form.pug
      include ../partials/footer.pug











