.about#about
    p.text-middle От автора
    .about-content
        p.text-small Начал заниматься сайтами в начале этого века. Тогда они были еще статическими. Работал с WordPress, Webflow, Bootstrap, немного с php. Продвигал свое дело, изготавливая сайты под ключ. Работал фрилансером. Мне нравится заниматься фронтенд-разработкой, поэтому в июле 2022 года начал целенаправленно учиться именно этой специальности.
        //- div Мне очень нравится специальность фронтенд-разработчика. Мне очень нравится специальность фронтенд-разработчика. Мне очень нравится специальность фронтенд-разработчика. Мне очень нравится специальность фронтенд-разработчика. Мне очень нравится специальность фронтенд-разработчика. Мне очень нравится специальность фронтенд-разработчика.