.connection#connection
    p.text-middle Обратная связь
    p.text-small Напишите мне, и вы обязательно получите ответ
    .connection-content
        form.connection-form(action='https://formspree.io/f/xeqbpwzd', method='post')
            +inputField('Имя', 'text', 'name')
            +inputField('Email', 'email', 'email')
            //- +inputField('Сообщение', 'textarea', 'textarea', 'connection-textarea')
            textarea.form-text.connection-textarea(name='textarea', placeholder='Сообщение', required)
            input.form-button(type='submit', name='buttonForm', value='ОТПРАВИТЬ')
            //- +pl
