.footer
    .footer-content
        .copyright © А. Невежин 2023
        .networks
            a(href="https://t.me/anton_nevezhin" target="_blank")
                img.footer-img(src='../assets/images/tg.png')
            a(href="https://vk.com/nevezhin72" target="_blank")
                img.footer-img(src='../assets/images/vk.png')
            a(href="https://ok.ru/anton.nevezhin.nevezhin72" target="_blank")
                img.footer-img(src='../assets/images/ok.png')