.header
  .header-content
    a.header-link(href="#about") ОТ АВТОРА
    a.header-link(href="#skills") НАВЫКИ
    a.header-link(href="#portfolio") ПОРТФОЛИО
    a.header-link(href="#projects") МИНИ-ПРОЕКТЫ
    a.header-link(href="#connection") ОБРАТНАЯ СВЯЗЬ