.portfolio#portfolio
    p.text-middle Проекты
    .portfolio-content
        .work.work-right
            .work-header
                img.portfolio-img(src='../assets/images/blog.png')
                .work-progect
                    a.work-progect-color(href='https://anton-nevezhin.github.io/simple-blog/dist/index.html' target="_blank") Открыть
                    a.work-progect-color(href='https://github.com/Anton-Nevezhin/simple-blog' target="_blank") Ссылка на GitHub
            .portfolio-text
                .work-name Путешествуем по всему миру
                .work-description Простой блог на чистом JavaScript. Сверстан по бесплатному макету Figma. Использованы препроцессоры pug и less. Возможны редактирование, добавление и удаление записей. Имеется пагинация. Данные сохраняются в localStorage. Функция обратной связи реализована с помощью сервиса Formspree.


        //- .work.work-left
        //-     img.portfolio-img.portfolio-img-right.mobile(src='../assets/images/pizza.png')
        //-     .portfolio-text-left         
        //-         .work-name.portfolio-left Каталог пиццы
        //-         .work-description.portfolio-left Каталог сделан на фреймворке React. Минималистичный дизайн. Предусмотрены функции добавления, редактирования и удаления товаров.
        //-     .work-header-left
        //-         img.portfolio-img.portfolio-img-right.top(src='../assets/images/pizza.png')
        //-         .work-progect
        //-             a.work-progect-color(href='https://anton-nevezhin.github.io/pizza/build/' target="_blank") Открыть


        .work.work-right
            .work-header
                img.portfolio-img(src='../assets/images/pizza.png')
                .work-progect
                    a.work-progect-color(href='https://anton-nevezhin.github.io/pizza/build/' target="_blank") Открыть
                    a.work-progect-color(href='https://github.com/Anton-Nevezhin/pizza' target="_blank") Ссылка на GitHub
            .portfolio-text
                .work-name Каталог пиццы
                .work-description Каталог сделан на фреймворке React. Минималистичный дизайн. Предусмотрены функции добавления, редактирования и удаления товаров.
        //- .work.work-right
        //-     .work-header
        //-         img.portfolio-img(src='../assets/images/blog.png')
        //-         .work-progect
        //-             a.work-progect-color(href='https://anton-nevezhin.github.io/simple-blog/dist/index.html' target="_blank") Открыть
        //-     .portfolio-text
        //-         .work-name Путешествуем по всему миру
    