.projects#projects
    p.text-middle Мини-проекты
    p.text-small Могут быть использованы на страницах в качестве готовых блоков
    .projects-gallery
        //- img.portfolio-img(src='../assets/images/02.jpg')
        //- img.progect-image(src='../assets/images/02.jpg')
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        include ../partials/project.pug
        
