include ../partials/project.pug
.projects#projects
    p.text-middle Мини-проекты
    p.text-small Могут быть использованы на страницах в качестве готовых блоков. Названия кликабельны
    .projects-gallery
        +project('../assets/images/mini-project-1.png', 'https://codepen.io/AntonNevezhin/pen/qBgYOKg', 'Фотогалерея')
