//- .project
//-     img.progect-image(src='../assets/images/mini-project-1.png')
//-     .project-name-box
//-         p.project-name Фотогалерея
mixin project(image, href, name)
    .project
        img.progect-image(src=image)
        .project-name-box
            a.project-name(href=href target="_blank")=name