include ../partials/project.pug
.projects#projects
    p.text-middle Мини-проекты
    p.text-small Можно использовать как блоки страниц или как самостоятельные проекты. Названия кликабельны
    .projects-gallery
        +project('../assets/images/mini-project-1.png', 'https://codepen.io/AntonNevezhin/pen/qBgYOKg', 'Фотогалерея')
        +project('../assets/images/mini-project-2.png', 'https://codepen.io/AntonNevezhin/pen/wvNjYBx', 'Всплывающее окно')
        +project('../assets/images/mini-project-3.png', 'https://codepen.io/AntonNevezhin/pen/vYbjVqz', 'Список дел')
        +project('../assets/images/mini-project-4.png', 'https://codepen.io/AntonNevezhin/pen/xxMjQmQ', 'Слайдер на флексах')
