.skills#skills
    p.text-middle Технические навыки
    .skills-content
        include ../partials/skill.pug
        - const allskills = [
        -  {image: '../assets/images/html.jpg', text: 'html'},
        -  {image: '../assets/images/css.jpg', text: 'CSS'},
        -  {image: '../assets/images/js.jpg', text: 'JavaScript'},
        -  {image: '../assets/images/pug.jpg', text: 'Pug'},
        -  {image: '../assets/images/react.png', text: 'React'},
        -  {image: '../assets/images/webpack.jpg', text: 'Webpack'},
        -  {image: '../assets/images/octocat.png', text: 'GitHub'}]

        each item in allskills
          +skill(item.image, item.text)
