.portfolio-one {
  max-width: 1400px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: chocolate;
}
@media (max-width: 780px) {
  .portfolio-one {
    width: 100vw;
    height: 100vw;
  }
}
