.skill {
  width: 100px;
}
.skill-text {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 500;
}
.skill-img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.skill {
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
}
.skill.skill-show {
  opacity: 1;
  transition: opacity 6s;
}
@media (max-width: 1024px) {
  .skill {
    width: 75px;
  }
  .skill-text {
    width: 75px;
  }
  .skill-img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 780px) {
  .skill {
    width: 75px;
    opacity: 1;
  }
  .skill-text {
    width: 75px;
    font-size: 12px;
  }
  .skill-img {
    width: 50px;
    height: 50px;
  }
}
