.skills {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-top: 1px;
  padding-bottom: 100px;
}
.skills-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 940px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .skills {
    max-width: 1024px;
    padding-bottom: 60px;
  }
  .skills-content {
    margin-top: 60px;
    max-width: 740px;
  }
  .skill-img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 780px) {
  .skills {
    width: 100vw;
    padding-bottom: 30px;
  }
  .skills-content {
    margin-top: 30px;
    width: 90vw;
  }
  .skill-img {
    width: 50px;
    height: 50px;
  }
}
